.tablero{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border:1px solid;
    padding: 1em;
    & .row{
        display: flex;
        justify-content: space-between;
      
        & .row-nested{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            border: 1px solid;
            width: 100%;
            height: 100%;
        }
    }
   
}
.finDlJ{
    font-size: 107px;
    color: red;
    padding: 1em;
}
.vic{
    color: green;
}
button{
    background-color: whitesmoke;
    border: none;
    margin: 0;
    padding: 0;
    padding: 1em;
}
button:hover{
    background-color: black;
    color: white;
}
.utils{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 1em;
    & .tiempo{
        font-size: 20px;
        
    }
}